projects/starter/.idea/
projects/starter/app/app.iml
projects/starter/local.properties
projects/starter/starter.iml

projects/final/.idea/
projects/final/app/app.iml
projects/final/final.iml
projects/final/local.properties

projects/challenge/.idea/
projects/challenge/challenge.iml
projects/challenge/local.properties
projects/challenge/app/app.iml
